<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0a70b86888a54337906266b777bceceb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0a70b86888a54337906266b777bceceb" ></div>
        
</body>
<script>    
    
            var map_0a70b86888a54337906266b777bceceb = L.map(
                "map_0a70b86888a54337906266b777bceceb",
                {
                    center: [22.5726, 88.3639],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_646455242484498e907c946e033776b7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0a70b86888a54337906266b777bceceb);
        
    

        function geo_json_31a1c59ffdba421c84fc453ba1514271_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_31a1c59ffdba421c84fc453ba1514271 = L.geoJson(null, {
                onEachFeature: geo_json_31a1c59ffdba421c84fc453ba1514271_onEachFeature,
            
        });

        function geo_json_31a1c59ffdba421c84fc453ba1514271_add (data) {
            geo_json_31a1c59ffdba421c84fc453ba1514271
                .addData(data)
                .addTo(map_0a70b86888a54337906266b777bceceb);
        }
            geo_json_31a1c59ffdba421c84fc453ba1514271_add({"features": [{"geometry": {"coordinates": [[[77.22169876098633, 28.52737652035115], [77.22169876098633, 28.507013881018153], [77.17037200927734, 28.507013881018153], [77.17037200927734, 28.57879352089678], [77.22169876098633, 28.57879352089678], [77.22169876098633, 28.56341628776094], [77.28229522705078, 28.56341628776094], [77.28229522705078, 28.52737652035115], [77.22169876098633, 28.52737652035115]]], "type": "Polygon"}, "properties": {"area": "63878944.66971405"}, "type": "Feature"}], "type": "FeatureCollection"});

        
</script>